.centerhead {
    text-align: center;
    color: rgb(71, 49, 1);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.headerdiv {
    height: 250px;
    width: auto;
    background-image: url(images/jeez2.png);
    background-size: cover;
    background-repeat: no-repeat;
    border: 5px solid wheat;
}

.centdiv-wrapper {
    border: 5px solid rgb(216, 58, 10);
}

#imgdv {
    width: 100%;
    height: 400px;
    ;
    object-fit: cover;
}

.centdiv1 {
    float: left;
    width: 49%;
    height: 400px;
    overflow: hidden;
}